USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Get_Balanceconfirmation_MASL]    Script Date: 10/10/2025 2:41:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Balanceconfirmation_MASL]
    @CompanyCode BIGINT,
    @UserCode NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
		    BalanceConfirmationId,
            CompanyCode,
            UserCode,
            CustomerName,
            RepManCode,
            Emp_Name,
            -- Debit_Amount,
            -- Credit_Amount,
            Balance_Amount,
            [CreatedAt],
            [AcceptByCustomer],
            [AcceptDate],
            [RejectByCustomer],
            [RejectDate],
            [UserCodeStatus],
            [RejectedReason]
        FROM [dbo].[TB_Balance_Confirmation]
        WHERE 
            CompanyCode = @CompanyCode AND
            (@UserCode IS NULL OR UserCode = @UserCode);
    END TRY

    BEGIN CATCH
        INSERT INTO ErrorLog_dashboard_1 (
            ErrorNumber,
            ErrorSeverity,
            ErrorState,
            ErrorProcedure,
            ErrorLine,
            ErrorMessage,
            ProcedureName,
            ErrorDate
        )
        VALUES (
            ERROR_NUMBER(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            ERROR_MESSAGE(),
            'Get_Balanceconfirmation_MASL',
            GETDATE()
        );

        -- Optional: return the error to the caller
        SELECT 
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO
