USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerOutstandingReport]    Script Date: 10/9/2025 6:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCustomerOutstandingReport]
    @CompanyCode       BIGINT,
    @CustomerCodes     NVARCHAR(MAX),
    @RoleId            INT,
    @Offset            INT = 0,
    @PageSize          INT = 25,
    @SelectedCustomer  NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Split input list
    DECLARE @CustomerCodeTable TABLE (CustomerCode NVARCHAR(50) PRIMARY KEY);
    INSERT INTO @CustomerCodeTable (CustomerCode)
    SELECT LTRIM(RTRIM(value))
    FROM STRING_SPLIT(@CustomerCodes, ',')
    WHERE LTRIM(RTRIM(value)) <> '';

    /* Build Latest-per-customer set from TB_CustomerAgeingReport
       - Parse updated_by (NVARCHAR) -> datetime2 as UpdatedAt
       - rn = 1 keeps only the newest row per (CompanyCode, CustomerCode)
       - Rows with invalid/NULL updated_by are ranked last
    */
    IF OBJECT_ID('tempdb..#Latest') IS NOT NULL DROP TABLE #Latest;

    WITH Ranked AS
    (
        SELECT
            ar.CompanyCode,
            ar.CustomerCode,
            ar.CustomerName,
            ar.[0_30_Days],
            ar.[31_60_Days],
            ar.[61_90_Days],
            ar.[91_120_Days],
            ar.[121_150_Days],
            ar.[151_180_Days],
            ar.[181_210_Days],
            ar.[210_365_Days],
            ar.[Over_365_Days],
            ar.TLAMT,
            ar.GLAccount,
            TRY_CONVERT(datetime2, ar.updated_by, 120) AS UpdatedAt,
            ROW_NUMBER() OVER
            (
                PARTITION BY ar.CompanyCode, ar.CustomerCode
                ORDER BY 
                    CASE WHEN TRY_CONVERT(datetime2, ar.updated_by, 120) IS NULL THEN 1 ELSE 0 END,
                    TRY_CONVERT(datetime2, ar.updated_by, 120) DESC
            ) AS rn
        FROM TB_CustomerAgeingReport AS ar
        WHERE ar.CompanyCode = @CompanyCode
          AND EXISTS (SELECT 1 FROM @CustomerCodeTable c WHERE c.CustomerCode = ar.CustomerCode)
    )
    SELECT
        CompanyCode,
        CustomerCode,
        CustomerName,
        ISNULL([0_30_Days],0)     AS [0_30_Days],
        ISNULL([31_60_Days],0)    AS [31_60_Days],
        ISNULL([61_90_Days],0)    AS [61_90_Days],
        ISNULL([91_120_Days],0)   AS [91_120_Days],
        ISNULL([121_150_Days],0)  AS [121_150_Days],
        ISNULL([151_180_Days],0)  AS [151_180_Days],
        ISNULL([181_210_Days],0)  AS [181_210_Days],
        ISNULL([210_365_Days],0)  AS [210_365_Days],
        ISNULL([Over_365_Days],0) AS [Over_365_Days],
        ISNULL(TLAMT,0)           AS TLAMT,
        GLAccount,
        UpdatedAt
    INTO #Latest
    FROM Ranked
    WHERE rn = 1;

    -- Materialize the "selected customer" filter for reuse
    IF OBJECT_ID('tempdb..#Filtered') IS NOT NULL DROP TABLE #Filtered;
    SELECT *
    INTO #Filtered
    FROM #Latest
    WHERE (@SelectedCustomer IS NULL OR CustomerCode = @SelectedCustomer);

    -- 1) Total rows in the FILTERED set
    SELECT COUNT(1) AS TotalCount
    FROM #Filtered;

    -- 2) Distinct customers from ALL records (for dropdown; NOT paged)
    SELECT DISTINCT CustomerCode, CustomerName
    FROM #Latest
    ORDER BY CustomerCode;

    -- 3) Paged rows from the FILTERED set
    IF @RoleId = 1
    BEGIN
        SELECT 
            CompanyCode,
            CustomerCode,
            CustomerName,
            (ISNULL([0_30_Days],0) + ISNULL([31_60_Days],0) + ISNULL([61_90_Days],0)) AS [0_90_Days],
            ISNULL([91_120_Days],0)                                                  AS [91_120_Days],
            (ISNULL([121_150_Days],0) + ISNULL([151_180_Days],0) + ISNULL([181_210_Days],0)
             + ISNULL([210_365_Days],0) + ISNULL([Over_365_Days],0))                 AS [Over_120_Days],
            TLAMT,
            GLAccount,
            UpdatedAt
        FROM #Filtered
        ORDER BY CustomerCode
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
    ELSE
    BEGIN
        SELECT 
            CompanyCode,
            CustomerCode,
            CustomerName,
            [0_30_Days],[31_60_Days],[61_90_Days],[91_120_Days],
            [121_150_Days],[151_180_Days],[181_210_Days],[210_365_Days],[Over_365_Days],
            TLAMT,
            GLAccount,
            UpdatedAt
        FROM #Filtered
        ORDER BY CustomerCode
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
END
GO
