USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetBalanceUtilization]    Script Date: 10/7/2025 2:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetBalanceUtilization]
    @CustomerCode NVARCHAR(50),
    @YearFilter NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Normalize @YearFilter to 'YYYY-YYYY'
    IF @YearFilter IS NOT NULL 
    BEGIN
        DECLARE @StartYear INT = LEFT(@YearFilter, 4);
        SET @YearFilter = CONCAT(@StartYear, '-', @StartYear + 1);
    END

    ;WITH AllTransactions AS (
        /* ---------------------- DEPOSITS (existing) ---------------------- */
        SELECT 
            LastUpdated AS DateOfTransaction,
            DepositedBalance AS Amount,
            TotalAvailableBalance AS AvailableAmount,
            'Deposit' AS Description,
            CONCAT(
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                '-',
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
            ) AS Year,
            Id AS TransactionId
        FROM TB_CustomerTransaction
        WHERE CustomerCode = @CustomerCode
          AND DepositedBalance > 0
          AND UPPER(LTRIM(RTRIM(TransactionType))) = 'DEPOSIT'
          AND (
              @YearFilter IS NULL OR
              CONCAT(
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                  '-',
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
              ) = @YearFilter
          )

        UNION ALL

        /* ---------------------- CREDIT NOTES (added) ---------------------- */
        SELECT 
            LastUpdated AS DateOfTransaction,
            DepositedBalance AS Amount,              -- positive
            TotalAvailableBalance AS AvailableAmount,
            'Credit' AS Description,
            CONCAT(
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                '-',
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
            ) AS Year,
            Id AS TransactionId
        FROM TB_CustomerTransaction
        WHERE CustomerCode = @CustomerCode
          AND DepositedBalance > 0
          AND UPPER(LTRIM(RTRIM(TransactionType))) IN ('CREDITENTRY','CREDIT','CREDIT NOTE','CN')
          AND (
              @YearFilter IS NULL OR
              CONCAT(
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                  '-',
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
              ) = @YearFilter
          )

        UNION ALL

        /* ---------------------- DEBIT NOTES (added) ---------------------- */
        SELECT 
            LastUpdated AS DateOfTransaction,
            -DeductedBalance AS Amount,              -- negative
            TotalAvailableBalance AS AvailableAmount,
            'Debit' AS Description,
            CONCAT(
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                '-',
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
            ) AS Year,
            Id AS TransactionId
        FROM TB_CustomerTransaction
        WHERE CustomerCode = @CustomerCode
          AND DeductedBalance > 0
          AND UPPER(LTRIM(RTRIM(TransactionType))) IN ('DEBIT','DEBIT NOTE','DN')
          AND (
              @YearFilter IS NULL OR
              CONCAT(
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                  '-',
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
              ) = @YearFilter
          )

        UNION ALL
        
        /* ---------------------- BOOKING (existing Deduct) ---------------------- */
        SELECT 
            LastUpdated AS DateOfTransaction,
            -DeductedBalance AS Amount,              -- negative
            TotalAvailableBalance AS AvailableAmount,
            'Booking' AS Description,
            CONCAT(
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                '-',
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
            ) AS Year,
            Id AS TransactionId
        FROM TB_CustomerTransaction
        WHERE CustomerCode = @CustomerCode
          AND DeductedBalance > 0
          AND UPPER(LTRIM(RTRIM(TransactionType))) = 'DEDUCT'
          AND (
              @YearFilter IS NULL OR
              CONCAT(
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                  '-',
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
              ) = @YearFilter
          )

        UNION ALL
        
        /* ---------------------- REFUND (existing) ---------------------- */
        SELECT 
            LastUpdated AS DateOfTransaction,
            RefundBalance AS Amount,                 -- positive
            TotalAvailableBalance AS AvailableAmount,
            'Refund' AS Description,
            CONCAT(
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                '-',
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
            ) AS Year,
            Id AS TransactionId
        FROM TB_CustomerTransaction
        WHERE CustomerCode = @CustomerCode
          AND RefundBalance > 0
          AND UPPER(LTRIM(RTRIM(TransactionType))) = 'REFUND'
          AND (
              @YearFilter IS NULL OR
              CONCAT(
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                  '-',
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
              ) = @YearFilter
          )

        UNION ALL
        
        /* ---------------------- DISPATCH (existing) ---------------------- */
        SELECT 
            LastUpdated AS DateOfTransaction,
            -DispatchBalance AS Amount,              -- negative
            TotalAvailableBalance AS AvailableAmount,
            'Dispatch' AS Description,
            CONCAT(
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                '-',
                CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
            ) AS Year,
            Id AS TransactionId
        FROM TB_CustomerTransaction
        WHERE CustomerCode = @CustomerCode
          AND DispatchBalance > 0
          AND UPPER(LTRIM(RTRIM(TransactionType))) = 'DISPATCH'
          AND (
              @YearFilter IS NULL OR
              CONCAT(
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) ELSE YEAR(LastUpdated) - 1 END,
                  '-',
                  CASE WHEN MONTH(LastUpdated) >= 4 THEN YEAR(LastUpdated) + 1 ELSE YEAR(LastUpdated) END
              ) = @YearFilter
          )
    )
    SELECT 
        t.DateOfTransaction, 
        t.Amount, 
        t.AvailableAmount, 

        /* Description with Remarks + Ref No for Credit/Debit notes */
        CASE 
            WHEN t.Description IN ('Credit','Debit') 
                 AND (dce.TransactionRemarks IS NOT NULL OR ct.ReferenceNumber IS NOT NULL)
                THEN CONCAT(
                        t.Description, ' [',
                        COALESCE(NULLIF(dce.TransactionRemarks,''), 'No remarks'),
                        ' | Ref No: ', ISNULL(ct.ReferenceNumber,'-'),
                        ']'
                     )

            -- existing cases (unchanged)
            WHEN t.Description = 'Booking'  AND d.ProductName IS NOT NULL
                THEN CONCAT('Booking ', d.ProductName, ' (Qty: ', d.OrderQuantity, 'MT) [OrderNo: ', ct.OrderNumber, ']')
            WHEN t.Description = 'Dispatch' AND dr.RequestForQuantityMT IS NOT NULL
                THEN CONCAT('Dispatch Qty: ', dr.RequestForQuantityMT, 'MT [OrderNo: ', ct.OrderNumber, ']')
            WHEN t.Description = 'Refund'   AND ct.OrderNumber IS NOT NULL
                THEN CONCAT('Refund against OrderNo: ', ct.OrderNumber)
            WHEN t.Description = 'Deposit'  AND ct.ReferenceNumber IS NOT NULL
                THEN CONCAT('Deposit [Ref No: ', ct.ReferenceNumber, ']')

            ELSE t.Description
        END AS Description,

        t.Year

    FROM AllTransactions t
    LEFT JOIN TB_CustomerTransaction ct ON t.TransactionId = ct.Id
    LEFT JOIN DealerOrderMHZPC d ON d.OrderNumber = ct.OrderNumber AND t.Description = 'Booking'
    LEFT JOIN DispatchRequests dr ON dr.OrderNumber = ct.OrderNumber AND t.Description = 'Dispatch'

    -- join to pull remarks for Credit/Debit notes that came from TB_DebitCreditEntry approvals
    LEFT JOIN TB_DebitCreditEntry dce
           ON dce.TransactionNumber = ct.ReferenceNumber
          AND t.Description IN ('Credit','Debit')

    ORDER BY t.DateOfTransaction DESC;
END
GO
