USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Confirm_Balance_Confirmation_MASL]    Script Date: 10/10/2025 2:41:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Confirm_Balance_Confirmation_MASL]
		@CompanyCode BIGINT,
		@UserCode NVARCHAR(50),
		@BalanceId BIGINT
	
AS
BEGIN
	SET NOCOUNT ON;

    UPDATE TB_Balance_Confirmation
	SET 
		AcceptByCustomer=1,
		AcceptDate=GETDATE(),
		UserCodeStatus=@UserCode
       	WHERE CompanyCode=@CompanyCode AND UserCode=@UserCode AND BalanceConfirmationId = @BalanceId
	 IF @@ROWCOUNT = 0
    BEGIN
        -- No rows were affected, which means CustomerId doesn't exist
        SELECT -1 AS ResultCode; -- Indicates no record was updated
    END
    ELSE
    BEGIN
        -- Update was successful
        SELECT 0 AS ResultCode; -- Indicates successful update
    END
END
GO
